<ul>
{{#each model as |rental|}}
    <li>
        {{#link-to "rental" rental.id}}
            {{rental.title}}
        {{/link-to}}
    </li>
{{/each}}
</ul>

{{rental-create createRental="createRental"}}

{{outlet}}